#confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 500px; */
  min-height: 222px;
  padding: 0 20px;
  text-align: center;

  section {
    display: inherit;
    align-items: center;
    justify-content: space-between;

    p {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
      text-transform: capitalize;
    }

    button.btn {
      margin-left: 20px;
      border-radius: 4px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
